<div class="general-info">
    {% if user.photo %}
        <img src="{{ user.photo.url }}" class="user-photo">
    {% else %}
        <img src="http://placehold.it/200x200" />
    {% endif %}

    <h1>{{ user.full_name }}</h1>
    <h3>{{ user.job }}</h3>
    <p>soc1 soc2 soc3 soc 4</p>
    <p>{{ user.email }}</p>
    <p>{{ user.phone }}</p>
    <p>{{ user.website }}</p>
    <p>{{ locality.full_locality }}</p>

    {% if request.user.id == user.id %}
        <p><a href="{% url 'profile-edit' id=user.id %}">Edit profile</a></p>
    {% endif %}
</div>

<div class="design-skills">
    <h2>DESIGN SKILLS</h2>
    <ul>
{#    КОСТЫЛЬ НА КЛАСС ПРОГРЕСС-БАРА БУДЕТ РАБОТАТЬ ТОЛЬКО ДЛЯ Fahad   #}
    {% for skill in design_skills %}
        <li><h6>{{ skill.skill }}</h6><div class="progressbar-{{ skill.id }}" data-progress="{{ skill.level }}"></div></li>
    {% endfor %}
    </ul>
</div>

<div class="language-skills">
    <h2>

{#    css для circle-bar взят из сети и полностью не успел разобраться,      #}
{#        работает с ошибкой, некорректно показывает значения меньше 50%     #}

        LANGUAGES
        {% if request.user.id == user.id %}
            <a href="{% url 'lang-add' id=user.id %}">Add language</a>
        {% endif %}
    </h2>
    <ul>
        {% for skill in languages %}
            <li>
                <div class="c100 p{{ skill.level }}">
                    <span>{{ skill }}</span>
                    <div class="slice">
                        <p class="skill-sertification">{{ skill.qualification }}</p>
                    </div>
                    <div class="bar"></div>
                    <div class="fill"></div>
                </div>

                {% if request.user.id == user.id %}
                    <a href="{% url 'lang-edit' id=skill.id %}">edit</a>
                {% endif %}

                {% if request.user.id == user.id %}
                    <a href="{% url 'lang-del' id=skill.id %}">del</a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</div>

<div class="interest">
    <h2>INTERESTS</h2>
    <ul>
        {% for interest in interests %}
            <li>
                {% if interest.interest_logotype %}
                    <img src="{{ interest.interest_logotype.url }}" />
                {% endif %}
                <span>{{ interest }}</span>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="references">
    <h2>
        REFEREANCES
        {% if request.user.id == user.id %}
            <a href="{% url 'ref-add' id=user.id %}">Add refereances</a>
        {% endif %}
    </h2>
    {% for item in refereances %}
        <ul>
            <li>{{ item }}</li>
            <li>{{ item.company }}</li>
            <li>{{ item.phone }}</li>
            <li>{{ item.email }}</li>
        </ul>
        {% if request.user.id == user.id %}
            <a href="{% url 'ref-edit' id=item.id %}">edit</a>
        {% endif %}

        {% if request.user.id == user.id %}
            <a href="{% url 'ref-del' id=item.id %}">del</a>
        {% endif %}
    {% endfor %}
</div>